# 1. In below element which one of them values or expression ?

Values      :-
                'hello'
                -87.8
                6

Expression  :-
                *  :- Multiplication 
                -  :- Subtraction
                /  :- Division
                +  :- Addition

# 2. What is diference Between strings and variables

Strings :-
    It is a contigous set of characters represented in quotation marks. I will be either pair of single or double quotes.
        eg. :-
              'Hello' or "Hello" both are same.
        
Variables :-
    It is nothing but the reserved memory of location to store values, or whre you create a variable you reserve some space in       memory.We can store intergers,decimals and characters(strings) in these variables.
        eg. :-
              a=10,c=1.56,b="Barish"

In [25]:
print("Barish")

Barish

In [26]:
type("Barish")

str

In [29]:
a = 10

In [30]:
a

10

In [31]:
age = input(" what is your current age? : ")

 what is your current age? : 27

In [32]:
age

'27'

# 3. Describe three different data type ?

In python we can verify the data type with the use of type() function.

1.Integer Or Int :-
    It is whole no.,positive or negative, without decimals of unlimited length.
        eg. :-
              a=1,b=-10,c=100,d=1000,e=56546448949494,...etc.
       
2.Float Or floating point no. :-
    It is the number,positive or negative, containing one or more decimals.
        eg. :-
              a=0.5,b=-1.5,c=1.494946165449,....etc.

3.Boolean :-
    It may have One or Two values.
        eg. :- type(True), type(False).
        
4.Strings :-
    It is a contigous set of characters represented in quotation marks. I will be either pair of single or double quotes.
        eg. :-
              'Barish' or "Barish" both are same.
              
5.Variables :-
    It is nothing but the reserved memory of location to store values, or where you create a variable you reserve some space in     memory.We can store intergers,decimals and characters(strings) in these variables.
        eg. :-
              a=10,c=1.56,b="Barish"
              
6.List[] :-
    It is collection which is ordered and changeable and allows duplicate members.we have to use square brackets [] to declare       the list items.
        eg. :-
             a=[1,2,3,4,"afsf",[55,6,45]]

7.tuples()
8.dictionary{}

# 4. What is an expression made up of ? What do all expression do?

Expression :-
    It is a combination of values, variables and operators
    with the help of expresion we can do different different operations like addition,subtraction,multiplication and division 
    by using those assignment operator tokens.

# 5. This is assignment statement, like spam = 20 and what is difference                    between expression and statement ?

In [4]:
Expression :- with the help of expression we can evaluted the values in opertion.
statement  :- are the set of instructions that the interpreter can execute, and can't evaluted the values in operation.

# 6. After runing the following code, what does the variable bacon contain?

In [5]:
# bacon is set of 20 and bacuse (bacon + 1) expression we will not resign the value of bacon which is shown in output.
bacon = 22
bacon + 1

23

# 7. What should the values of following two terms be ?

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
type('spam' + 'spamspam')

str

In [7]:
'spam' * 3

'spamspamspam'

In [9]:
type('spam' * 3)

str

In [ ]:
'spam' + 'spamspam'
'spam' * 3
both will give (str) same values as shown in output.

# 8. Why is eggs a valid variable name and 100 is not ?

Variables :-
    A variable name must start with a letter or the underscore character. Variable name are case-sensitive.
        eg :- eggs,Eggs,EGGS

In [10]:
eggs = input("How many eggs you purchased from store ? ")

How many eggs you purchased from store ? 10

In [12]:
# A variable name cannot start with a number.
100 = input("How many eggs you purchased from store ? ")

SyntaxError: cannot assign to literal (Temp/ipykernel_10656/1749070784.py, line 2)

# 9. What three function can be used to get the integer, floating point and string        version of values ?

In [ ]:
int()
float()
str()
above three flunction are used to get integer, floating and string values.

In [5]:
a = int(input("enter the values of a: "))

enter the values of a: 20

In [6]:
type(a)

int

In [20]:
a = print(int(a))

20

In [18]:
b = float(input("enter the floating value: "))

enter the floating value: 20.5

In [19]:
type(b)

float

In [17]:
b = print (float(20.5))

20.5

In [14]:
c = print(str(20))

20

# 10. Why does this expression cause an error? how can you fix it ?
  'I have eaten' + 99 + 'burritos'

In [24]:
print('I have eaten ' + ' 99 ' + ' burritos')

I have eaten  99  burritos

In [23]:
print('I have eaten ' + str(99) + ' burritos')

I have eaten 99 burritos