# What Exactly is [] ?

In [ ]:
[] this indicates the empty list value that contain no items.

# In a list of value stored in variable called spam,how would you assign the            value 'Hello' as the third value.

  (Assume [2,4,6,8,10] are in spam)

In [32]:
spam = [2,4,6,8,10]

In [33]:
spam[2]='Hello'
print(spam)

[2, 4, 'Hello', 8, 10]

# Lets pretend spam include the list ['a','b','c','d'] for the three quaries.

In [ ]:
spam = ['a','b','c','d']

# What is the value of spam[int(int('3'*2)/11)] ?

In [35]:
int('3'*2)/11

3.0

In [36]:
int(3)

3

In [37]:
spam[3] # spam[int(int('3'*2)/11)]

'd'

# What is the value of spam[-1]

In [38]:
spam

['a', 'b', 'c', 'd']

In [39]:
spam[-1] # it will give slicing index of negative 1 value of spam list

'd'

# What is the vlaue of spam[:2]

In [40]:
spam

['a', 'b', 'c', 'd']

In [41]:
spam[:2] # it will give slicing the index value from 0 to 2 (except the index value 2) in spam list.

['a', 'b']

# Lets predend bacon has the list[3.14,'cat',11,'cat',True] for the next three              question.

In [42]:
bacon=[3.14,'cat',11,'cat',True]

# What is the value bacon.index('cat')

In [43]:
bacon.index('cat') # index function always given the firt instance index value in list

1

# How does bacon.append(99) change the look of list value in bacon ?

In [44]:
bacon.append(99)   # .append() function is used to add or append the value at the end in list.

In [45]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# How does bacon.remove('cat') cahnge the look of list value in bacon ?

In [46]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [47]:
bacon.remove('cat') # .remove() function is always remove the first repatative value that you want to remove.

In [48]:
bacon

[3.14, 11, 'cat', True, 99]

In [49]:
bacon.remove('cat')

In [51]:
bacon

[3.14, 11, True, 99]

# What are the list concatenation and list replication operator?

The operator for the list concatenation is '+'.
The operator for the list replication   is '*'.

# What is the difference between list methods append() and insert().

List method .append() append or add the new value or req. value at the end of the list by default.
List method .insert() insert or add the new or req. value anywhere we want in the list.

In [57]:
#code using append() method
l=[1,2,3,45,5,6,8,9]
def append_method(a):
    try:
        l.append(a)
        return l
    
    except Exception as AA:
        return "Error in code ", AA

In [34]:
append_method("New value")

[1, 2, 3, 45, 5, 6, 8, 9, 'New value']

In [56]:
#code using insert() method
l=[1,2,3,45,5,6,8,9]
def insert_method(a):
    try:
        l.insert(5,a)
        return l
    
    except Exception as AA:
        return "Error in code ", AA
    
    else:
        return "Successfully appended the New value "

In [43]:
insert_method("New value")

[1, 2, 3, 45, 5, 'New value', 6, 8, 9]

# What are the two methods of removing items in the list ?

remove() list method and del statement are used to remove items in the list.

In [55]:
#code using remove().

def remove_method(a):
    try:
        a.remove("New name")
        return a
    
    except Exception as BB:
        return " Error in code ", BB
    
    else:
        return("remove methood code is succesfullly run")

In [45]:
remove_method([1,2,3,4,"New name",22,55,66,"sbfusbfu"])

[1, 2, 3, 4, 22, 55, 66, 'sbfusbfu']

In [54]:
#code using del statement.
a = [1,2,3,4,"New name",22,55,66,"sbfusbfu"]
def del_statement(a):
    try:
        del a[4]
        return a
    
    except Exception as BB:
        return " Error in code ", BB
    
    else:
        return("remove methood code is succesfullly run")
        
del_statement(a)

[1, 2, 3, 4, 22, 55, 66, 'sbfusbfu']

# Describe How list values and string values are identical.

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops,
be concatenated or replicated, and be used with the in and not in operators

# What is the difference between tuple and list.

# Tuple:-
    It is immutable, so we cant changed,add and remove the values in tuple. It is written using '( )' token.

In [67]:
a = (1,2,3,4,5,6,7,8,9)

a.remove(3)
a.append(10)
a.insert(4,20)

AttributeError: 'tuple' object has no attribute 'remove'

In [68]:
type(a)

tuple

# list :-
    list are mutable, so that we can add,remove and change the values of it. list is  written using '[]' token

In [69]:
a = [1,2,3,4,5,6,7,8,9]

a.remove(3)
a.append(10)
a.insert(4,20)

In [70]:
a

[1, 2, 4, 5, 20, 6, 7, 8, 9, 10]

In [71]:
type(a)

list

# How do you type a tuple value that only contains integer 42 ?

In [74]:
b =(42,) # if we have single value at the end of that value comma is mandatory to give.

In [75]:
type(b)

tuple

# How do you get list values in tuple form? How do you get tuples value in list      form ?

In [92]:
a = [1,2,3,4,5,6,7,8,9]

print(tuple(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [93]:
b = (1,2,3,4,5,6,7,8,9)

print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Varible that contain list values are not nessesarilly lists themselves.instated,       what do they contain ?

They contain references to list values.

# How do you distinguish beteen copy.copy() and copy.deepcopy() ?

The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. 
That is, only copy.deepcopy() will duplicate any lists inside the list.